<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit page</title>
</head>
<body>

<div>
  <label>Номер заказа: </label>
  <a th:text="${order.getId()}"></a>
  <br/>
  <label>Данные заказчика: </label>
  <a th:text="${user.getId() + ', ' + user.getUsername() + ', ' + user.getEmail()}"></a>
  <br/>
  <label>Данные товара: </label>
  <a th:text="${product.getId() + ', ' + product.getManufacturer() + ', ' + product.getModel() + ', ' + product.getPrice()}"></a>
  <br/>
</div>

<form th:method="DELETE" th:action="@{/order/{id}(id=${order.getId()})}" th:object="${order}">
  <input type="submit" value="Удалить"/>
</form>

<a href="/order">Список заказов</a>
</body>
</html>